*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background-color: #F2F4F8;
  font-family: "Roboto", sans-serif;
}
.wrapper{
  position: relative;
  width: 400px;
  height: 700px;
  margin: auto;
  margin-top: 200px;
  background-color: #F7F7F7;
  border: 20px solid #1F1F1F;
  border-radius: 50px;
  z-index: -1;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  overflow: hidden;
}

.wrapper::before{
  position: absolute;
  display: inline-block;
  width: 350px;
  bottom: 55%;
  left: 6%;
  height: 200px;
  content: "";
  background-image: url(./img/card.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper__top{
  position: absolute;
  right: 0;
  top: -15px;
  left: 70px;
  border-radius: 48px;
  width: 200px;
  height: 40px;
  background-color: #1F1F1F;
}
.span{
  position: absolute;
  display: inline-block;
  width: 500px;
  right: calc(-30%);
  top: -85px;
  height: 250px;
  background-color: #5288F4;
  z-index: -1;
  transform: rotate(30deg);
}

.wrapper__title{
  font-size: 24px;
  margin: 0;
  padding-top: 45px;
  text-align: center;
  color:#CAD5FA;
  margin-bottom: 250px;

}

.wrapper__inner{
  position: relative;
}

.sub__inner{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;  
  padding: 0 20px;
  margin-bottom: 15px;
}

.img{
  margin: 0 10px 0 0;
}

.title{
  margin: 0;
  margin-bottom: 10px;
}
.text{
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.toggle__label {
  position: relative;
  display: flex;
  padding: 2px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #cccccc;
  cursor: pointer;
  overflow: hidden;
}

.toggle__shtor {
  position: absolute;
  width: 100px;
  height: 60px;
  background-color: #5288F4;
  z-index: -1;
  top: -8px;
  left: 0px;
  border-radius: 50px;
  transition: left 0.3s ease;
}

.toggle__bgc {
  position: absolute;
  width: 100px;
  height: 60px;
  background-color: rgb(218, 218, 218);
  z-index: -2;
  top: -8px;
  left: 0px;
  border-radius: 50px;
}

.toggle__circle {
  transition: left 0.3s, margin 0.3s ease;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.input:checked + .toggle__label span {
  margin-left: 50px;
}

.input:checked + .toggle__label .toggle__shtor {
  left: 0px;
}
